Source: thaifonts-arundina
Section: x11
Priority: optional
Maintainer: Theppitak Karoonboonyanan <thep@linux.thai.net>
Build-Depends: debhelper (>= 5.0.35)
Build-Depends-Indep: defoma (>= 0.7.0), fontforge, xfonts-utils
Vcs-Cvs: pserver:anonymous@linux.thai.net:/home/cvs software/thaifonts-arundina
Vcs-Browser: http://linux.thai.net/viewvc/viewvc.cgi/software/thaifonts-arundina
Homepage: http://linux.thai.net/projects/thaifonts-arundina
Standards-Version: 3.7.3.0

Package: ttf-thai-arundina
Architecture: all
Depends: defoma (>= 0.7.0), x-ttcidfont-conf
Description: Thai DejaVu-compatible fonts in TrueType format
 This package provides Arundina fonts for Thai language in TrueType format.
 The fonts are designed to be compatible with Bitstream Vera or DejaVu fonts.
 Serif, sans-serif and monospace type faces are included.

Package: t1-thai-arundina
Architecture: all
Depends: defoma (>= 0.7.0), xfonts-utils (>= 1:1.0.0-4)
Description: Thai DejaVu-compatible fonts in Type1 format
 This package provides Arundina fonts for Thai language in Type1 format.
 The fonts are designed to be compatible with Bitstream Vera or DejaVu fonts.
 Serif, sans-serif and monospace type faces are included.
